* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    color: rgb(52, 53, 53);
}

.container {
    max-width: 400px;
    /*height: 70vh;*/
    max-height: 40rem;
    background-color: rgb(240, 242, 244);
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#shorten-form {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
    font-weight: 500;
    font-size: 1.15rem;
}

.input-box input {
    height: 2rem;
    width: 100%;
    border-radius: .2rem;
    border-style: none;
    box-shadow: 0 0 .2rem;
    padding: 0 .5rem;
    font-size: 1rem;
}

button {
    height: 2.5rem;
    width: 25%;
    margin: 1rem auto 0;
    background-color: rgb(37, 84, 187);
    box-shadow: 0 0 .5rem rgb(147, 175, 188);
    text-align: center;
    color: white;
    font-size: 1.25rem;
    padding: .2rem;
    border-radius: .2rem;
    border-style: none;
}

#shortened-urls{
    list-style: none;
}

.url_list{
    overflow: auto;
    scrollbar-width: none;
    background-color: rgb(224, 226, 229);
    border-radius: 1rem;
    padding: 1rem;
}

@media screen and (max-width:700px) {
    .container{
        background-color: rgb(175, 159, 159);
        min-width: 100vw;
        min-height: 100vh;
        margin: 0 auto;
        border-radius: 0;
    }
}